@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xrz5f4');
  src:  url('fonts/icomoon.eot?xrz5f4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xrz5f4') format('truetype'),
    url('fonts/icomoon.woff?xrz5f4') format('woff'),
    url('fonts/icomoon.svg?xrz5f4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}

/*Componenetes del social normal*/
.social {  
  position: fixed; 
  left: 0; 
  top: 200px; 
  z-index: 2000; 
}
 

  .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} 
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
  .social ul li .icon-facebook2:hover {
    background: #3b5998; 
    padding: 10px 30px; 
  }

    .social ul li .icon-twitter:hover {
    background: #00abf0; 
    padding: 10px 30px; 
  }

    .social ul li .icon-google-plus3:hover {
    background: #d95232; 
    padding: 10px 30px; 
  }

    .social ul li .icon-pinterest:hover {
    background: #ae181f; 
    padding: 10px 30px; 
  }

    .social ul li .icon-instagram:hover {
    background: #666666; 
    padding: 10px 30px; 
  }

    .social ul li .icon-facebook2:hover {
    background: #3b5998; 
    padding: 10px 30px; 
  }




/*Componenetes del social para un movil de 475px*/
@media screen and (max-width: 425px){


.icon-user:before {
  content: "\e971";
      font-size: 100%;
}
.icon-users:before {
  content: "\e972";
      font-size: 70%;
}
.icon-user-plus:before {
  content: "\e973";
      font-size: 70%;
}
.icon-user-minus:before {
  content: "\e974";
      font-size: 70%;
}
.icon-user-check:before {
  content: "\e975";
      font-size: 70%;
}
.icon-menu:before {
  content: "\e9bd";
      font-size: 100%;
}
.icon-cross:before {
  content: "\ea0f";
      font-size: 70%;
}
.icon-circle-right:before {
  content: "\ea42";
      font-size: 70%;
}
.icon-circle-left:before {
  content: "\ea44";
      font-size: 70%;
}
.icon-google-plus3:before {
  content: "\ea8d";
      font-size: 70%;
}
.icon-facebook2:before {
  content: "\ea91";
      font-size: 70%;
}
.icon-instagram:before {
  content: "\ea92";
      font-size: 70%;
}
.icon-twitter:before {
  content: "\ea96";
      font-size: 70%;
}
.icon-youtube:before {
  content: "\ea9d";
      font-size: 70%;
}
.icon-pinterest:before {
  content: "\ead1";
      font-size: 70%;
}




  .social{
  position: fixed;
  left: -6%;
  top: 200px;
  z-index: 2000;}

   .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 8px 13px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
}



@media screen and (max-width: 375px){


.icon-user:before {
  content: "\e971";
      font-size: 90%;
}
.icon-users:before {
  content: "\e972";
      font-size: 60%;
}
.icon-user-plus:before {
  content: "\e973";
      font-size: 60%;
}
.icon-user-minus:before {
  content: "\e974";
      font-size: 60%;
}
.icon-user-check:before {
  content: "\e975";
      font-size: 60%;
}
.icon-menu:before {
  content: "\e9bd";
      font-size: 90%;
}
.icon-cross:before {
  content: "\ea0f";
      font-size: 60%;
}
.icon-circle-right:before {
  content: "\ea42";
      font-size: 60%;
}
.icon-circle-left:before {
  content: "\ea44";
      font-size: 60%;
}
.icon-google-plus3:before {
  content: "\ea8d";
      font-size: 60%;
}
.icon-facebook2:before {
  content: "\ea91";
      font-size: 60%;
}
.icon-instagram:before {
  content: "\ea92";
      font-size: 60%;
}
.icon-twitter:before {
  content: "\ea96";
      font-size: 60%;
}
.icon-youtube:before {
  content: "\ea9d";
      font-size: 60%;
}
.icon-pinterest:before {
  content: "\ead1";
      font-size: 60%;
}




  .social{
  position: fixed;
  left: -7%;
  top: 200px;
  z-index: 2000;}

   .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 6px 11px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
}

@media screen and (max-width: 320px){


.icon-user:before {
  content: "\e971";
      font-size: 85%;
}
.icon-users:before {
  content: "\e972";
      font-size: 50%;
}
.icon-user-plus:before {
  content: "\e973";
      font-size: 50%;
}
.icon-user-minus:before {
  content: "\e974";
      font-size: 50%;
}
.icon-user-check:before {
  content: "\e975";
      font-size: 50%;
}
.icon-menu:before {
  content: "\e9bd";
      font-size: 85%;
}
.icon-cross:before {
  content: "\ea0f";
      font-size: 50%;
}
.icon-circle-right:before {
  content: "\ea42";
      font-size: 50%;
}
.icon-circle-left:before {
  content: "\ea44";
      font-size: 50%;
}
.icon-google-plus3:before {
  content: "\ea8d";
      font-size: 50%;
}
.icon-facebook2:before {
  content: "\ea91";
      font-size: 50%;
}
.icon-instagram:before {
  content: "\ea92";
      font-size: 50%;
}
.icon-twitter:before {
  content: "\ea96";
      font-size: 50%;
}
.icon-youtube:before {
  content: "\ea9d";
      font-size: 50%;
}
.icon-pinterest:before {
  content: "\ead1";
      font-size: 50%;
}




  .social{
  position: fixed;
  left: -8%;
  top: 200px;
  z-index: 2000;}

   .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 4px 10px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
}


@media screen and (max-width: 768px){


.icon-user:before {
  content: "\e971";
      font-size: 100%;
}
.icon-users:before {
  content: "\e972";
      font-size: 70%;
}
.icon-user-plus:before {
  content: "\e973";
      font-size: 70%;
}
.icon-user-minus:before {
  content: "\e974";
      font-size: 70%;
}
.icon-user-check:before {
  content: "\e975";
      font-size: 70%;
}
.icon-menu:before {
  content: "\e9bd";
      font-size: 100%;
}
.icon-cross:before {
  content: "\ea0f";
      font-size: 70%;
}
.icon-circle-right:before {
  content: "\ea42";
      font-size: 70%;
}
.icon-circle-left:before {
  content: "\ea44";
      font-size: 70%;
}
.icon-google-plus3:before {
  content: "\ea8d";
      font-size: 70%;
}
.icon-facebook2:before {
  content: "\ea91";
      font-size: 70%;
}
.icon-instagram:before {
  content: "\ea92";
      font-size: 70%;
}
.icon-twitter:before {
  content: "\ea96";
      font-size: 70%;
}
.icon-youtube:before {
  content: "\ea9d";
      font-size: 70%;
}
.icon-pinterest:before {
  content: "\ead1";
      font-size: 70%;
}




  .social{
  position: fixed;
  left: -3.1%;
  top: 200px;
  z-index: 2000;}

   .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 8px 13px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
}

@media screen and (max-width: 1024px){


.icon-user:before {
  content: "\e971";
      font-size: 100%;
}
.icon-users:before {
  content: "\e972";
      font-size: 70%;
}
.icon-user-plus:before {
  content: "\e973";
      font-size: 70%;
}
.icon-user-minus:before {
  content: "\e974";
      font-size: 70%;
}
.icon-user-check:before {
  content: "\e975";
      font-size: 70%;
}
.icon-menu:before {
  content: "\e9bd";
      font-size: 100%;
}
.icon-cross:before {
  content: "\ea0f";
      font-size: 70%;
}
.icon-circle-right:before {
  content: "\ea42";
      font-size: 70%;
}
.icon-circle-left:before {
  content: "\ea44";
      font-size: 70%;
}
.icon-google-plus3:before {
  content: "\ea8d";
      font-size: 110%;
}
.icon-facebook2:before {
  content: "\ea91";
      font-size: 110%;
}
.icon-instagram:before {
  content: "\ea92";
      font-size: 110%;
}
.icon-twitter:before {
  content: "\ea96";
      font-size: 110%;
}
.icon-youtube:before {
  content: "\ea9d";
      font-size: 110%;
}
.icon-pinterest:before {
  content: "\ead1";
      font-size: 110%;
}




  .social{
  position: fixed;
  left: -3.1%;
  top: 200px;
  z-index: 2000;}

   .social ul {
    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 12px 17px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google-plus3 {background: #d95232;}
  .social ul li .icon-pinterest {background: #ae181f;}
  .social ul li .icon-instagram {background: #666666;}
 
}


